<div class="row">
  <div class="jumbotron">

    <h4>Word: <i><%= @word.job_title() %></i></h4>
    <h4>Company: <i><%= @word.company() %></i></h4>

      <h3>Address</h3>
      <% @contact.address().each() do |address| %>
        <h4><%= address.type() %> : <i><%= address.address_formatted()%></i></h4>
      <% end %>
    <% end %>

      <h3>Phone Number</h3>
      <% @contact.phone().each() do |phone| %>
        <h4><%= phone.type() %> : <i><%= phone.phone_formatted() %></i></h4>
      <% end %>
    <% end %>
   </div>
</div>
<form action="/words/<%= @word.id() %>" method="post">
  <div class="form-group">
    <label for="word">Word:</label>
    <input id="word" name="word" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="city">City:</label>
    <input id="city" name="city" type="text" class="form-control">
  </div>
  <button type="submit" class="btn bg-primary">Add Email</button>
</form>
